<%= form_with(model: weapon, local: true) do |form| %>
  <% if weapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weapon.errors.count, "error") %> prohibited this weapon from being saved:</h2>

      <ul>
        <% weapon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weaponName %>
    <%= form.text_field :weaponName %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :power_base %>
    <%= form.number_field :power_base %>
  </div>

  <div class="field">
    <%= form.label :power_step %>
    <%= form.number_field :power_step %>
  </div>

  <div class="field">
    <%= form.label :weapon_level %>
    <%= form.number_field :weapon_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
